.container {
    max-width: 1170px;
    margin: 0 auto;
}


.logo {
    max-width: 250px;
    margin: 0 auto;
    padding: 100px 0 0 0;
}

.logo img {width: 100%;}

.content {
    text-align: center;
}

.content h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 38px;
    line-height: 25px;
    color: #61B846;
    padding: 18px 0 20px 0;
}

.content h5 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #024F9D;
}

.get-started button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    background: #61B846;
    box-shadow: 0px 4px 4px 5px #D4D3D3;
    border-radius: 8px;
    border: none;
    padding: 8px 30px;
}

.get-started {
    text-align: center;
    padding: 31px 0 0 0;
}

.get-started button a {
    text-decoration: none;
    color: #fff;
}   